.App {
  text-align: center;
}
.titlered{
  color: brown;
   text-align: center ;
   text-decoration: brown;
    font-family: cursive;
    font-size: xx-large;
    text-decoration-line: underline;
}
.img1 {
  float: left;
  width: 20%;
  padding: 2px;
}
.img2 {
  float: right;
  width: 33.33%;
  padding: 5px;
}
.vid{
  margin: 100px;
   width: 400px;
}